<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricX</title>
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="nav">
        <img src="static/Untitled_design-removebg-preview.png" alt="">
        <a href="/dashboard"><h4>DASHBOARD</h4></a>
        <a href="/predict"><h4>RETENTION MODEL</h4></a>
        <a href="/metrics_overview"><h4>METRICS OVERVIEW</h4></a>
        <h4>BLOGS</h4>
        <h4>ABOUT US</h4>
        <h4>CONTACT US</h4>
    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>
    <video src="static/IPL1 (online-video-cutter.com).mp4" muted autoplay loop> </video>
    <div id="main">
        <div id="page1">
            <h1>PLAY. WIN. REPEAT.</h1>
            <h2>Enter the World of IPL!</h2>
            <P>
                The Indian Premier League (IPL) is a professional Twenty20 cricket league in India, founded by the Board of Control for Cricket in India (BCCI) in 2008. Known for its star-studded teams and thrilling matches, it has become one of the richest and most popular cricket leagues globally.</P>
                <div id="arrow">
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
        </div>
        <div id="page2">
            <div id="scroller">


                <div id="scroller1">
                    <h4>METRICS OVERVIEW</h4>
                    <h4>RETENTION MODEL</h4>
                    <h4>ABOUT US</h4>
                    <h4>BLOGS</h4>
                    <h4>CONTACT US</h4>
                </div>
                <div id="scroller1">
                    <h4>METRICS OVERVIEW</h4>
                    <h4>RETENTION MODEL</h4>
                    <h4>ABOUT US</h4>
                    <h4>BLOGS</h4>
                    <h4>CONTACT US</h4>
                </div>

            </div>
            <div id="about-us">
                <img src="static/IIPPLL.jpg"
                    alt="">

                <div id="about-us2">
                    <h3>ABOUT US</h3>
                    <p>Our platform offers comprehensive insights into IPL player retention through advanced machine learning models. We predict player retention based on performance metrics, team dynamics, and historical data, helping teams make informed decisions. In addition, we provide interactive dashboards, detailed blogs, and up-to-date information on IPL trends, offering a complete experience for cricket enthusiasts and analysts alike.</p>
                </div>
                <img src="static/KKR.webp"
                    alt="">
            </div>
            <div id="cards-container">

                <div class="card" id="card1">
                    <div class="overlay">
                        <a href='/dashboard'><h4>Dashboard</h4></a>
                        <p>Our website's dashboard section displays player performance by cohort along with their sentiment analysis. This helps track performance trends and public sentiment effectively.</p>
                    </div>
                </div>



                <div class="card" id="card2">
                    <div class="overlay">
                        <a href='/predict'><h4>Retention Model</h4></a>
                        <p>The Retention Model focuses on keeping existing customers loyal through personalized experiences and rewards, aiming to foster long-term relationships over new customer acquisition.</p>
                    </div>
                </div>



                <div class="card" id="card3">
                    <div class="overlay">
                        <a href="/metrics_overview"><h4>Metrics Overview</h4></a>
                        <p>The Evaluation Metrics section includes key metrics like Accuracy, Precision, Recall, and F1-Score, which assess model performance. The Confusion Matrix shows the breakdown of true positives, false positives, true negatives, and false negatives.</p>
                    </div>
                </div>

            </div>
        </div>
        <div id="green-div">
            <img src="https://ouch-cdn2.icons8.com/KgfWC6MGeH04_TXdJJW-ux6JRqDBAp61B5__o1BR1bs/rs:fit:368:492/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDQ1/L2JkNDdhYjNmLWI1/ZGYtNDgwMy05ZTU4/LWY4ODcyNjc5ZjMz/ZC5zdmc.png"
                alt="">
                <h4>Stay Updated with IPL Insights. <br>Delivered Straight to Your Inbox!</h4>
            <img src="https://ouch-cdn2.icons8.com/KgfWC6MGeH04_TXdJJW-ux6JRqDBAp61B5__o1BR1bs/rs:fit:368:492/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDQ1/L2JkNDdhYjNmLWI1/ZGYtNDgwMy05ZTU4/LWY4ODcyNjc5ZjMz/ZC5zdmc.png"
                alt="">
        </div>
        <div id="page3">
            <img id="colon1" src="static/free-left-quotes-yellow-icon-21314-thumb-removebg-preview.png"
                alt="">
            <p>Whatever you want to do, do with full passion and work really hard towards it. Don't look anywhere else.<br><cite>-VIRAT KOHLI</cite></p>
            <img id="colon2" src="static/free-right-quotes-yellow-icon-21320-thumb-removebg-preview.png">

        </div>
        <div id="page4">
            <h1>BLOGS</h1>
            <div class="elem">
                <h2><a href="https://www.howzat.com/blog/cricket/ipl-player-retention-rules">BLOG 1</a></h2>
                <img src="static/ddd.jpg" alt="">
            </div>
            <div class="elem">
                <h2><a href="https://www.cricbuzz.com/cricket-news/132494/ipl-2025-mega-auction-live-blog">BLOG 2</a></h2>
                <img src="static/vk-abd.jpg" alt="">
            </div>
            <div class="elem">
                <h2><a href="https://sports.ndtv.com/ipl-2025/ipl-2025-retention-live-updates-kl-rahul-rishabh-pant-and-shreyas-lyer-ms-dhoni-chennai-super-kings-virat-kohli-6912804">BLOG 3</h2>
                <img src="static/delhi.jpg" alt="">
            </div>
        </div>
        <div id="footer">
            <img src="https://ouch-cdn2.icons8.com/KgfWC6MGeH04_TXdJJW-ux6JRqDBAp61B5__o1BR1bs/rs:fit:368:492/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDQ1/L2JkNDdhYjNmLWI1/ZGYtNDgwMy05ZTU4/LWY4ODcyNjc5ZjMz/ZC5zdmc.png" alt="">
            <div id="f1">
                <img src="static/Untitled_design-removebg-preview.png" alt="">
            </div>
            <div id="f2">
                <h3>Metrics Overview</h3>
                <h3>Retention Model</h3>
                <h3></h3>
            </div>
            <div id="f3">
                <h3>Dashboard</h3>
                <h3>Blogs</h3>
            </div>
            <div id="f4">
                <h4>123, Saket Road, New Delhi, 110001 | Phone: +91 9876543210 | Email: example@example.com</h4>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="static/script.js"></script>
    
</body>

</html>